body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #128c91;
}

h1 {
    text-align: center;
}

textarea {
    width: 100%;
    min-height: 100px;
    padding: 8px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}